<div class="about">

  <h2 class="about__header" id="about">About On Farm Water</h3>

    <h3 class="about__sub-header">Manage your irrigation schedule with a breeze using drag and drop</h3>

    <div class="row features">
      <div class="four columns">
        {{> icon gradient=true img="images/stats-icon.svg" }}
        <h4 class="features__header">Easy Drag and Drop</h4>
        <p class="features__desc">Using an intuitive drag and drop interface allows schedules to be created and changed
          quickly.</p>
      </div>
      <div class="four columns">
        {{> icon gradient=false img="images/chat-icon.svg" }}
        <h4 class="features__header">Live data</h4>
        <p class="features__desc">No need to sync! All the data is saved live and shared across devices.</p>
      </div>
      <div class="four columns">
        {{> icon gradient=false img="images/smartphone-icon.svg" }}
        <h4 class="features__header">Print your schedule</h4>
        <p class="features__desc">On the go all the time? Print your irrigation schedule from your phone!</p>
      </div>
    </div>
</div>